# Excel Files (Data)
*.xlsx
*.xls
*.csv

# Sensitive Sample Data
Sample Data/

# Python
__pycache__/
*.py[cod]
.venv
venv
env
*.log
.DS_Store

# Security / Secrets
.env
.streamlit/secrets.toml
**/.vscode/
